@import url('https://fonts.googleapis.com/css2?family=Baskervville&family=Chakra+Petch:wght@500&family=Staatliches&display=swap');

body, h1, h3, p
{
    margin: 0;
    padding: 0;
    font-weight:normal;
}

a{
    text-decoration: none;
    color: black;
}

#header
{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Staatliches', cursive;
    font-size: 5vw;
    border-bottom: 1px solid #000;
}

#post_title
{
    margin-top: 30px;
    text-align: center;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 4vw;
}

#text
{
    margin-top: 25px;
    font-family: 'Baskervville', serif;
    padding: 30px;
    font-size: 28px;
}
